@using UniqloProject.Models;
@model List<Product>
<div class="container-fluid">


    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

             
                    <a asp-area="Admin" asp-controller="Product" asp-action="Create"  class="btn btn-success">Create</a>

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>ImgUrl</th>
                            <th>Price</th>
                            <th>NewPrice</th>
                            <th>CatagoryId</th>
                            <th>IsDelete</th>
                            <th>Update</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>ImgUrl</th>
                            <th>Price</th>
                            <th>NewPrice</th>
                            <th>CatagoryId</th>
                            <th>IsDelete</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (Product item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Title</td>
                                <td>@item.ImgUrl</td>
                                <td>@item.Price</td>
                                <td>@item.NewPrice</td>
                                <td>@item.CatagoryId</td>
                                <td>@item.IsDelete</td>


                                <th><a class="btn btn-success" href="#">Update</a></th>
                                <th><a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></th>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
